{% extends "UtilidadesApp/base.html"%}

{% load static %}

{% block content %}

<!-- 
 <h1 class="site-heading text-center text-white d-none d-lg-block" style="margin-top:10; margin-bottom: 10;">Búsqueda de pares telefónicos </h1>
<div class="container-fluid">
    <div class="row justify-content-md-start">
        <div class="col-md-8 search">
            <form action="/buscar/" method="GET">
                <div id="custom-search-imput">
                    <div class="imput-group col-md-12">
                        <input type="text" class="form-control" placeholder="Buscar..." name="buscar">
                        <span class="input-group-list">
                            <i class="icon icon-search"></i>
                            <button type="submit" class="boton btn-succes">Buscar</button>
                        </span>
                    </div>
                </div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-8">
                            <h1 class="site-heading text-center text-white d-none d-lg-block" style="margin-top:10; margin-bottom: 10;">Resultados de la Búsqueda </h1>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row justify-content-md-center">
        <div class="col-md-8">
                {% for abonados in abonados %}


<tr>
    <p style="color: aliceblue;">Nombre</p>
    <td><p style="color: aliceblue;">{{abonados.nombre_abonado}}</p></td>
    <br>
</tr>

{% endfor %}
        </div>
    </div>
</div> -->
<!-- CONTENEDOR BUSQUEDA -->
<!-- <div class="container">
    <h1 class="site-heading text-center text-white d-none d-lg-block" style="margin-top:10; margin-bottom: 10;">Búsqueda
        de pares telefónicos </h1>
    <div class="row justify-content-md-start">
        <div class="col col-md-8 search">
            <form action="/buscar/" method="GET">
                <div id="custom-search-imput">
                    <div class="imput-group col-md-8">
                        <input type="text" class="form-control" placeholder="Buscar..." name="buscar">
                        <span class="input-group-list">
                            <i class="icon icon-search"></i>
                            <button type="submit" class="boton btn-succes">Buscar</button>
                        </span>
                    </div>
                </div>
        </div>
    </div>
</div> -->
<!--CONTENEDOR TABLA RESULTADOS-->
<!--FALTA AGREGAR BUSQUEDA-->
<!-- <div class="container">
    <div class="row justify-content-md-start">
        <div class="col col-md-12"> -->
        <!-- <table class="table table-dark">
            <thead>
                <tr>
                    <th scope="col col-md-3">Número</th>
                    <th scope="col col-md-3">Abonado</th>
                    <th scope="col col-md-3">Direccion</th>
                    <th scope="col col-md-3">Observacion</th>
                </tr>
            </thead>
            <tbody>
                {% for abonados in abonados%}
                <tr>
                    <th class="row justify-content-md-center">{{abonados.numero_telefono}}</th>
                    <td>{{abonados.nombre_abonado}}</td> -->
                    <!-- conexion con tabla equipamientos y plantel-->
                <!-- </tr>
                {% endfor %}
            </tbody>
        </table>
        </div> 
    </div>
</div>  -->

<!--barra navegacion resultados -->
<!-- <nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item disabled">
      <a class="page-link">Previous</a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#">Next</a>
    </li>
  </ul>
</nav> -->
<!--FIN CONTENEDOR BUSQUEDA -->
<!-- <div class="container-fluid">
    <div class="row justify-content-md-center">
        <table class="table table-hover table-dark">
            <thead>
                <tr>
                    <th scope="col col-md-3">Número</th>
                    <th scope="col col-md-3">Abonado</th>
                    <th scope="col col-md-3">Direccion</th>
                    <th colspan="" scope="col col-md-6">Acción</th>
                </tr>
            </thead>
            <tbody>
                {% for abonados in abonados%}
                <tr>
                    <th>{{abonados.numero_telefono}}</th>
                    <td>{{abonados.nombre_abonado}}</td>
                    <td>{{abonados.nombre_abonado}}</td>
                    <td><a href="#" class="btn btn-info">Editar</a>
                    <a href="#" class="btn btn-danger">Eliminar</a></td>
                     conexion con tabla equipamientos y plantel
                    {% endfor %}
                </tr>
            </tbody>
        </table>
    </div>
</div> -->
{% endblock %} -->